* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:spotify-circular, Helvetica, Arial, sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}


header div a img {
    padding-left: 5px;
    padding-top: 5px;
    height: 50px;
    width: 150px;
    transition: all .3s;
}

header div a img:hover{
    transform: scale(1.1);
}

header nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-weight: 600;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    transition: all .3s;
    font-size: 16px;
}

header nav ul li a:hover{
    color: rgb(79, 70, 229);
}

.enter{
    padding: 5px 12px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: black;
    border-color: black;
    background-color: white;
    cursor: pointer;
    transition: all .5s;
}

.enter:hover{
    background-color: rgb(79, 70, 229);
    color: white;
}

.logo {
    margin-right: auto;
}

h1{
    background-color: rgb(79, 70, 229, 0.7);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.check{
    color: white;
    transition: all .4s;
}

.check:hover{
    color: rgb(79, 70, 229);
}

.banner {
    width: 100%;
    height: 750px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {
    0%, 20%{
        background-image: url(../assets/BannerOne.jpeg);
    }
    25%, 45% {
        background-image: url(../assets/BannerTwo.jpeg); 
    } 
    50%, 70% {
        background-image: url(../assets/BannerThree.jpeg);
    }
    75%, 100% {
        background-image: url(../assets/BannerFour.jpeg);
    }    
}

.container{
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: rgb(0, 0, 0,0.6);
}

.info{
    z-index: 1;
    width: 100%;
    max-width:550px;
    text-align: center;
}

.info h2{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}